<ion-header translucent>
  <ion-toolbar>
    <ion-title>Registrar Contacto</ion-title>
    <ion-buttons slot="start">
      <ion-button (click)="dismissModal()">Cerrar</ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="guardar()">Guardar</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content fullscreen>
  <ion-list>
    <ion-item>
      <ion-label position="fixed">Nombre</ion-label>
      <ion-input (ionChange)="cambiarNombre($event)">
      </ion-input>
    </ion-item>
  </ion-list>
</ion-content>