<ion-header translucent>
  <ion-toolbar>
    <ion-title>Editar</ion-title>
    <ion-buttons slot="start">
      <ion-button (click)="dismissModal()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="editar()">
        <ion-icon slot="icon-only" name="checkmark-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content fullscreen>
  <div *ngIf="this.persona; else cargando">
    <ion-list>
      <ion-item>
        <ion-label position="floating">Nombre</ion-label>
        <ion-input placeholder="Nombre" [value]="this.persona.nombre" (ionChange)="cambiarNombre($event)">
        </ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Apellidos</ion-label>
        <ion-input placeholder="Apellidos" [value]="this.persona.apellido" (ionChange)="cambiarApellido($event)">
        </ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Fecha de nacimiento</ion-label>
        <ion-datetime displayFormat="DD/MM/YYYY" min="1940-03-14" [max]="this.latest_date" [value]="this.latest_date"
          (ionChange)="cambiarFechaNacimiento($event)"
          monthShortNames="ene, feb, mar, abr, may, jun, jul, ago, sep, oct, nov, dic"
          placeholder="Fecha de nacimiento">
        </ion-datetime>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Número de teléfono</ion-label>
        <ion-input type="text" [value]="this.persona.telefono" placeholder="Número de teléfono"
          (ionChange)="cambiarTelefono($event)"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Correo electrónico</ion-label>
        <ion-input type="email" [value]="this.persona.correo" (ionChange)="cambiarCorreo($event)"></ion-input>
      </ion-item>
        <section class="ion-justify-content-center">
          <ion-button (click)="eliminar(this.persona.id)" color="danger" expand="block" fill="outline">
            <ion-icon slot="start" name="trash-outline">
            </ion-icon>
            Eliminar
          </ion-button>
        </section>
    </ion-list>
  </div>
  <ng-template #cargando>
    <ion-spinner></ion-spinner>
  </ng-template>
</ion-content>